environment="develop"

[restapi]
port = 8080

[queue]
rabbitmq = "amqp://guest:guest@queue:5672"

[cache]
valkey = "cache:6379"

[repository]
postgres = "postgres://postgres:postgres@repository:5432/99minutos?sslmode=disable"
migrations_path = "/app/migrations"
